*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0, 0, 0);
    
}
:root{
    font-size: 62.5%;
}
.bg-img{
    height: 115vh;
    background-image: url('images/BR-pt-20230925-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    background-size: cover;
    
    
}
.sr-only{
    position: absolute;
    margin: -1px;
    padding: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
.front-view{
    height: 115vh;
    background: radial-gradient(#dadada00 , #000000);
    padding: 2.5rem 16rem;
}

header #logo{
    width: 147px;
    height: fit-content;
}
header{
    max-height: 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: white;
}
header select::before{
    content: '';
    background-image: url("./assets/translate-bold-svgrepo-com.svg");
    position: absolute;
    z-index: -1;
}

.translate{
    filter: invert(1);
    left: 1rem;
    top: .4rem;
    position: absolute;
}

    

header #languages{
    text-align: center;
    background: rgba(3, 3, 3, 0.438);
    
    color: rgb(248, 248, 248);
    padding: 0 3.9rem;
    border-radius: .5rem;
    border: 1px solid rgb(167, 167, 167);
}
.side-buttons-header{
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 36px;
    gap: 1rem;
}
.side-buttons-header button{
    border-radius: .5rem;
    background: red;
    color: white;
    font-size: 1.4rem;
    padding: 0 1.7rem;
    font-weight: 700;
    border: none;
    cursor: pointer;

}
.side-buttons-header button:hover{
    background: rgb(184, 0, 0);
}
.primary-content{
    margin-top: 17rem;
    margin-bottom: 12rem;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.primary-content h1{
    font-size: 4.5rem;
}
.primary-content h2{
    font-weight: 400;
    font-size: 2.3rem;
    
}
.primary-content p{
    font-size: 2.2rem
}
.input-wrapper{
    display: flex;
    margin-bottom: 12rem;
}

.input-wrapper input{
    background: rgba(24, 24, 24, 0.692);
    border: 1px solid grey;
    padding: 1.2rem 1.8rem;
    width: 100%;
    font-size: 2rem;
    border-radius: .4rem;
    color: white;
    font-family: 'Poppins',sans-serif;
}
form{
    margin: 0 auto ;
    width: 56%;
    margin-bottom: 10rem;

}
#send-email-to, #send-email-to-account {
    background: rgb(224, 2, 2);
    color: white;
    font-weight: 400;
    border: none;
    border-radius: .4rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    width: 40%;
    margin-left: 1.2rem;
    cursor: pointer;
    padding: 1rem 2rem;
}
#send-email-to:hover{
    background: rgb(160, 0, 0);

}
.purple-card{
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: flex;
    background: radial-gradient( rgb(128, 9, 45), rgba(8, 8, 99, 0.959));
    width: 90%;
    padding: 2.4rem 8rem;
    border-radius: .8rem;
    margin: auto;
    margin-top: -8rem;
    color: white;
    font-family: 'Poppins',sans-serif;
    

}

.purple-card h2{
    font-size: 2.6rem;
}
.purple-card p, .purple-card a{
    font-size: 1.6rem;

}
.purple-card a {
    margin-top: 1.5rem;
    line-height: -2rem;
    display: flex;
    align-items: baseline;
    color: #4d9af1fa;
    font-weight: 700;
}
.purple-card a img{
    width: 2rem;
}
.secoes{
    display: flex;
    flex-direction: column;
    gap: 3rem;
 
    color: white;
}
.secao:nth-child(odd){
    
    flex-direction: row-reverse;
}
.secao:nth-child(even){
    flex-direction: row;
}
.secao{
    padding: 2rem 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .6rem solid rgb(77, 77, 77);
}
.secao h1{
    font-size: 4.2rem;
    font-family: 'Poppins', sans-serif;
}
.secao p{
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
}
footer h1{
    color: white;
    text-align: center;

}


@media (max-width: 66rem){
    header #logo{
        width: 100px;
    }
    .primary-content h2 , .primary-content p{   
        font-size: 1.6rem;

    }
    .primary-content{
        margin-top: 4rem ;
    }
    .front-view{
        padding-left: 2rem ;
        padding-right: 2rem;
    }
    .primary-content h1{
        font-size: 3rem;

    }
    #languages{
        
        width: 5rem;
    }

    
    .secao:nth-child(odd){
        flex-direction: column;
    }
    .secao:nth-child(even){
        flex-direction: column;
    }
    
    .secao .texts {
        width: 100%;
    }
    .secao .texts h1{
        font-size: 3.2rem;
        width: 100%;
        
    }
    .secao .texts p{
        font-size: 1.4rem;
    }
    .secao img{
        width: 300px;
        
    }
    .input-wrapper{
        margin-bottom: 6rem;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        
        gap: 1rem;
        align-items: center;
    }
    #email-send{
        padding: .4rem .9rem;
    }
    #send-email-to{
        width: 50%;
        padding: 1rem 0;
        
    }
    .purple-card{
        margin-top: -3rem;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        align-items: flex-start;
        box-shadow: 0 1rem 2rem -1rem rgb(255,255,255 0.4);
    }
    #balde{
        margin-top: -4rem;
    }
    .bg-img{
        margin-bottom: 5rem;
        height: 89vh;
    }
    .card-texts h2{
        font-size: 2rem;
    }
    .secoes{
        margin: 3rem 2rem;
    }
    .secao{
        padding: 1rem;
    }
}